body {
    background-color: #481175;
}

text, h1, h2, h3, h4, h5, h6, a {
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

div ul {
    list-style-type: none;
    padding: 0;
}

div ul li:before {
    content: "- ";
}

div li {
	font-family: 'Segoe UI';
	font-size: 25px;
	color: black;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    position: relative;
    z-index: 10000; /* Higher value for the header */
}
